@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-main: var(--color-gray-800);
  --bg-surface: var(--color-gray-800);
  --text-primary: #ffffff;
  --text-secondary: #94a3b8;
  --accent: #38bdf8;
  --border: var(--color-gray-700);
}

html,
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
}

input,
textarea,
select {
  background-color: var(--bg-surface);
  color: var(--text-primary);
  border: 1px solid var(--border);
  padding: 8px;
}

button {
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}
